[2019-11-26 19:18] JohnGiorgi opened #1 "Switch decoder to AutoRegressiveDecoder"
From what I can tell, the proper way to setup a encoder-decoder model in AllenNLP is to use [`ComposedSeq2Seq`](https://allenai.github.io/allennlp-docs/api/allennlp.models.encoder_decoders.html#allennlp.models.encoder_decoders.composed_seq2seq.ComposedSeq2Seq), and provide the encoder/decoder you want to use.

Currently we are sort of hacking [`SimpleSeq2Seq`](https://allenai.github.io/allennlp-do

[2019-11-26 19:19] JohnGiorgi opened #2 "Setup a prediction pipeline"
Using the [`predict`](https://allenai.github.io/allennlp-docs/api/allennlp.commands.predict.html) tool provided by AllenNLP, we need to set up a prediction interface so that we can manually inspect the quality of the decoded sequences.

[2019-11-26 19:21] JohnGiorgi opened #3 "Come up with a good way of saving document embeddings to disk"
Currently, the document embeddings we generate are used as input to the decoder, but never saved to disk. There does not appear to be a "natural" way to do this with AllenNLP.

We will have to come up with a solution. Ideally, you would be able to use a trained model to produce document embeddings for a given dataloader and save these to disk along with the source text.

[2019-11-26 19:34] JohnGiorgi opened #4 "Different learning rates for encoder/decoder"
Because our encoder is pre-trained, we select a much lower learning rate than usual (e.g. `2e-5`) a high weight decay (e.g. `0.1`) and train only for a few epochs.

Because all other layers are trained from scratch, they will likely benefit from a higher learning weights and smaller weight decay.

In general, we should set the optimizer up to use different learning rate / weight decay's for the pr

[2019-11-27 18:45] JohnGiorgi opened #5 "Setup Apex"
Figure out how to use Apex with the `PretrainedTransformer` models of AllenNLP. This will speed up training and reduce memory usage (we are currently having trouble training on a batch size > 1).

This is not mission-critical, so we can wait for it to become an official part of the AllenNLP library. Follow the [roadmap](https://github.com/allenai/allennlp/pull/3427/commits/6684307de11548e728dfe001

[2019-11-29 19:16] #1 closed, assigned to JohnGiorgi

[2019-11-29 19:20] JohnGiorgi opened #7 "Validation iterator should not shuffle"
Currently, when performing inference, the `object_dict` saved to disk does not include the source text (it is unclear how to get this from the `decode` hook). This means that while we get the predictions made by the decoder, these are not paired to their original input text. This is a problem for evaluating the decoded outputs, and for assigning document embeddings to input documents.

The simples

[2019-11-30 15:18] JohnGiorgi opened #9 "Multi-gpu training"
In [SimCLR](https://arxiv.org/abs/2002.05709), the number of _negatives_ per some _positive_ pair is taken to be `2 * (N - 1)` (all examples in a minibatch of size `N` that don't belong to that positive pair), and they find ([as other works before them](https://papers.nips.cc/paper/6200-improved-deep-metric-learning-with-multi-class-n-pair-loss-objective)) that the bigger the batch size, the large

[2019-11-30 16:01] JohnGiorgi opened #10 "Mine this paper for insights"
[This paper](https://arxiv.org/abs/1905.05583) recently performed a bunch of empirical experiments on fine-tuning BERT. There are some highly relevant insights for us:

* Rather than truncate a document with > 512 tokens, they select the first 128 and the last 382 tokens. This performs better in text classification tasks. The motivation is that these tokens _typically_ contain the most information

[2019-11-30 16:02] #2 closed, assigned to JohnGiorgi

[2019-12-01 00:13] #7 closed, assigned to JohnGiorgi

[2019-12-04 16:48] #3 closed, assigned to JohnGiorgi

[2019-12-06 16:16] JohnGiorgi opened #12 "Smarter truncation scheme"
# Overview

[This paper](https://arxiv.org/abs/1905.05583) recently performed a series of empirical experiments on fine-tuning BERT. Among other things, they devised various truncation scheme to handle BERT/ALBERT/RoBERTa's limit of 512 wordpiece tokens.

The best performing scheme involves selecting the first 128 and the last 382 tokens of a document (if the length after wordpiece tokenization ex

[2019-12-06 16:26] JohnGiorgi opened #13 "Experiment with RoBERTa/ALBERT"
# Overview

Both RoBERTa and ALBERT outperform BERT on almost every downstream task. ALBERT has the additional benefit of having many times fewer parameters. The authors also demonstrated that it scales better (i.e. they don't observe the same degradation in model performance when they increase the model size and training set size as they do with BERT).

For these reasons, ALBERT is likely our bes

[2019-12-06 18:32] JohnGiorgi opened #14 "Source and target vocabularies should be shared"
# Overview

The source and target texts are identical, and therefore their vocabularies should be shared. It is unclear whether this will lead to any model improvements, but it will simplify the setup as we will not need to maintain separate tokenizers/indexers/vocabularies for the source and target texts.

## TODO

- [ ] Drop the `target_tokenizer` and `target_indexer` from the config. This will

[2019-12-12 15:13] #13 closed, assigned to nobody

[2020-01-12 00:02] JohnGiorgi opened #23 "Try AdaMod"
https://github.com/lancopku/AdaMod

[2020-02-06 04:03] JohnGiorgi opened #25 "Evaluate embedding with SentEval"

[2020-02-15 19:51] JohnGiorgi commented on #14
This is no longer relevant, given the new, contrastive, direction of this project.

[2020-02-15 19:51] #14 closed

[2020-02-15 19:56] JohnGiorgi opened #27 "Mine positive examples online"
Currently, we mine positive example "offline" (before training begins). This means they are static, i.e. the positive example for a given anchor is the positive example for that anchor across all batches. I suspect this is a problem (especially for small datasets), as the anchors are never trained against _different_ positives.

A solution would be to mine positives "online". For example, the data

[2020-02-15 20:00] JohnGiorgi opened #28 "Dramatically increase number of negative examples using MoCo"
Currently, the number of negative examples is coupled to the batch size. This is a problem, as our maximum batch size is quite small (~16 on a 16GB GPU). I suspect this is part of the reason for the poor embedding quality of our model as is.

Try to implement something similar to MoCo, where a dictionary of negatives is maintained during training, decoupling the number of negative samples from the

[2020-02-18 17:19] JohnGiorgi opened #33 "Add L2 normalization"
WIP.

[2020-02-18 17:20] JohnGiorgi opened #34 "Make PyTorch Metric Learning loss functions registerable"
WIP.

[2020-02-19 23:24] JohnGiorgi commented on #28
I don't think I want to focus on a dictionary of negative examples in this project. Going to instead take the approach of SimCLR. Closing for now, can re-open if we change our minds.

[2020-02-19 23:24] #28 closed

[2020-02-19 23:26] JohnGiorgi commented on #12
I am closing this for now. AllenNLP recently added support for breaking up documents into chunks of 512 tokens and embedding each chunk indepedently. I think I would opt to use that if document length becomes a problem.

[2020-02-19 23:26] #12 closed

[2020-02-22 00:16] #27 closed

[2020-02-22 00:17] JohnGiorgi commented on #33
This appears to be happening in the PyTorch Metric Learning loss functions by default (see [here](https://github.com/KevinMusgrave/pytorch-metric-learning/blob/f0be0fa2c6987c64de4a09375c731d976e10e953/pytorch_metric_learning/losses/base_metric_loss_function.py#L49). Closing for now, can re-open if I am mistaken.

[2020-02-22 00:17] #33 closed

[2020-02-22 00:18] #10 closed

[2020-02-22 00:18] JohnGiorgi commented on #10
Not sure we should focus on too many of these little tricks in this work. Need to stick to the core idea: contrastive learning for textual representations at the sentence / document level.

[2020-02-26 14:15] JohnGiorgi commented on #25
Done in #38.

[2020-02-26 14:15] #25 closed

[2020-02-27 13:01] JohnGiorgi opened #40 "Make PyTorchMetricLearningLoss self contained"
Currently, when using a `PyTorchMetricLearningLoss`, you still have to call its class method `get_embeddings_and_labels` before calling its forward hook. Find a way to trigger  `get_embeddings_and_labels` when the forward hook of the subclass (`BaseMetricLossFunction`) is invoked.

[2020-02-27 13:03] #34 closed

[2020-02-28 23:22] JohnGiorgi commented on #5
This is about to land at AllenNLP (see [here](https://github.com/allenai/allennlp/pull/3866)). Just going to wait until it does, then I will add a note to the readme about using Apex and close this issue.

[2020-02-28 23:25] JohnGiorgi opened #42 "Does shuffle need to be set to false when evaluating?"
It is unclear whether or not `shuffle` needs to be set to `false` when using a trained model to embed text, or when evaluating with SentEval.

My worry is that if it is `not False`, the order of the output embeddings won't match the order of the input text. Maybe this is not the case. I should check to be sure.

[2020-03-03 21:38] #5 closed

[2020-03-04 00:05] #9 closed

[2020-03-05 23:44] JohnGiorgi opened #48 "Spin SentEval Runner into its own library"
We have a script for evaluating a model against SentEval, but I think this would actually be useful _outside_ of this project. We currently support three popular libraries (AllenNLP, Transformers and Sentence Transformers) and I plan to add word vectors, Google's universal sentence embedder and more.

I think before I do any more work on this, I should spin this off into its own repo. I have begun

[2020-03-06 00:14] JohnGiorgi opened #49 "Try out sparse weight matrices"
Sparsifying weight matrices can lead to sizable reductions in the memory footprint of a model, while having little effect on performance (see [here](https://openai.com/blog/block-sparse-gpu-kernels/) for more info).

Try to sparsify the weight matrix of the projection head using [this](https://github.com/ptillet/torch-blocksparse) library. As this is not high-priority, it might be wise to wait unt

[2020-03-06 03:22] JohnGiorgi opened #50 "Try Mish activation function."

[2020-03-20 13:40] JohnGiorgi commented on #42
`shuffle` cannot be set with an `IterableDataset`, so as of #51, this no longer applies to us.

[2020-03-20 13:40] #42 closed

[2020-03-20 13:41] JohnGiorgi opened #52 "sample_spans may loop forever"

[2020-03-30 23:57] JohnGiorgi commented on #52
Closing as this is no longer an issue with our `sample_spans`.

[2020-03-30 23:57] #52 closed

[2020-03-31 00:20] subercui opened #60 "Encounter RuntimeError while running with Apex"
Running apex with `allennlp train configs/contrastive.jsonnet -s tmp --include-package t2t -o "{"trainer": {"opt_level": 'O1'}}"` returns exceptions as following:

[code]

[2020-03-31 00:23] JohnGiorgi commented on #60
Thanks @subercui, this error arises because the the PyTorch Metric Learning library. I opened an issue on Apex [here](https://github.com/NVIDIA/apex/issues/736) but no response :( maybe you can open an issue on PyTorch Metric Learning?

[2020-03-31 00:23] subercui commented on #60
Thanks! I'll have a look

[2020-04-04 03:40] JohnGiorgi commented on #60
I found a manual solution that works. Install PyTorch metric learning from source and change: `torch.max(neg_pairs, dim=1, keepdim=True)[0])` to `torch.max(neg_pairs, dim=1, keepdim=True)[0].half())`. Still, I think it makes sense to raise this issue on the PyTorch Metric Learning github.

[2020-04-11 21:46] JohnGiorgi opened #77 "Try Hypothesis"
Try Hypothesis (https://hypothesis.readthedocs.io/en/latest/quickstart.html). Seems like it would be an easy way to beef up unit tests.

[2020-04-13 18:11] JohnGiorgi opened #79 "Some run_senteval subcommands capture logging output"
Some of the models we support in `run_senteval.py` appear to be messing with the `logger` we use to log SentEval output to the console. So far, this happens with the `sentence-transformers` and `google-use` subcommands. It would be nice to figure this out, as right now, `--verbose` has no effect for either of these subcommands, which could be confusing to a user.

---

Update, this is a TensorFlow

[2020-04-17 16:27] JohnGiorgi opened #82 "Data loading process is way to slow"
# Overview

The data loading process that occurs before training in order to build a vocabulary in AllenNLP is prohibitively slow. Based on some quick testing, it looks like this is `sample_spans` fault

https://github.com/JohnGiorgi/t2t/blob/7f78ff9030e4759af3a39e68fcdca1fc62dec959/t2t/data/dataset_readers/dataset_utils/contrastive_utils.py#L7-L22

I can't see anything that is obviously closing t

[2020-04-23 14:35] JohnGiorgi commented on #77
Closing as I added hypothesis unit tests. Will continue to add more!

[2020-04-23 14:35] #77 closed

[2020-04-23 14:35] JohnGiorgi commented on #50
Tried this -- performance didn't really budge.

[2020-04-23 14:35] #50 closed

[2020-04-23 14:35] #40 closed

[2020-04-23 14:36] JohnGiorgi commented on #4
This no longer makes sense as we dropped the decoder.

[2020-04-23 14:36] #4 closed

[2020-05-12 00:16] #82 closed

[2020-05-12 22:14] #23 closed

[2020-05-12 22:14] #49 closed

[2020-06-10 23:10] JohnGiorgi opened #102 "Upload pre-trained model weights"
There are two good options for uploading pre-trained model weights:

1. Upload the serialized AllenNLP model to a GitHub release, modifying `Encoder` to download the weights if the user provides the model name.
2. Upload the weights of the model to https://huggingface.co/models.

The first case requires slightly more effort, but it will work even if someone uses another pooler, and has the benefit

[2020-06-10 23:17] JohnGiorgi opened #103 "Write notebooks for training and evaluating"
Write a Jupyter notebook (including in this repo and available through Colab) that walks a user through:

1. Installing the repo
2. Collecting data
3. Training a model
4. Evaluating the model on SentEval
5. Embedding text with a trained model
6 (Optionally) Uploading the model's weights to HF Transformers.

This would provide runnable documentation with a GPU that would complement the readme.

[2020-06-22 16:05] JohnGiorgi opened #113 "Update repo structure to match AllenNLP template"
Update the repo's structure to match the AllenNLP template here: https://github.com/allenai/allennlp-template-config-files.

[2020-07-09 20:55] #113 closed

[2020-07-09 21:34] JohnGiorgi opened #118 "Don't shuffle the dataset when num_epochs=1"
Currently, the dataset reader will shuffle the dataset during every epoch. In order to do this, it reads the entire dataset into memory, shuffles it, then yields instances one-by-one. This was the only way I could figure out how to shuffle a lazy AllenNLP dataset reader.

Unfortunately, for large datasets this means we need a lot of memory. Fortunately, for large datasets, really good performance

[2020-07-13 18:17] JohnGiorgi opened #121 "Write unit tests for Encoder"
The Encoder is currently not unit tested. I should write some really simply sanity checks that make sure:

1. It can be instantiated and used to embed text.
2. The relative ranking of embeddings makes sense (use easy examples).

[2020-07-13 18:27] JohnGiorgi opened #123 "Try out the "scalar mix" option in AllenNLP"
AllenNLP recently added an option to use a "scalar" mix of the embeddings from each layer of a Transformer to produce a final embedding (as opposed to using the last layer exclusively). This reminds me a lot of the [SBERT-WK](https://github.com/BinWang28/SBERT-WK-Sentence-Embedding) approach.

Try to run a few experiements with this option enabled to see if it improves the quality of the embedding

[2020-07-13 18:30] JohnGiorgi opened #124 "Revert to previous optimizer hyperparameters"
It looks like the default parameters of the `huggingface_admaw` optimizer in the AllenNLP library have recently been changed. This may explain why, in my latest experiments, the performance of DeCLUTR-small was slightly worse than the score reported in our paper.

TODO: Try running some experiments with the old hyperparameter values. If they are better, revert.

[2020-07-14 01:29] #103 closed

[2020-07-14 02:44] JohnGiorgi opened #127 "Get code coverage to >80%."
Before the v0.1.0 release, try to get code coverage to >80%.

[2020-07-16 14:30] #127 closed

[2020-07-16 14:34] #121 closed

[2020-07-20 13:23] #124 closed

[2020-07-26 03:07] #102 closed

[2020-07-27 14:03] #123 closed

[2020-07-31 03:15] KevinMusgrave commented on #60
v0.9.90.dev0 supports half precision
[code]

[2020-07-31 15:24] JohnGiorgi commented on #60
@KevinMusgrave Awesome! Thanks a lot.

[2020-08-12 16:24] #60 closed

[2020-08-21 19:36] masoudh175 opened #144 "Ruuning into an error while training the model through colab"
Hi,

I was trying to test the [Colab](https://colab.research.google.com/github/JohnGiorgi/DeCLUTR/blob/master/notebooks/training.ipynb) for training the model over wiki_test_103, but I am running into the below error. I thought maybe it is because of the recent updates in the allennlp package. I checked the version you use in [setup.py](https://github.com/JohnGiorgi/DeCLUTR/blob/master/setup.py) a

[2020-08-21 22:34] JohnGiorgi opened #146 "Training progress bar no longer displays"
On the latest pre-release of AllenNLP, there is no longer a progress bar indicating the remaining training time. Figure out why!

[2020-08-23 20:06] masoudh175 commented on #144
Most of the pre-trained models are trained over generic english and they don't a good job on tech related sentences. Our simple fasttext model trained over all of the stack overflow questions titles+answers does a better job than any pre-trained models. I wanted to give a try to DeCLUTR and train it over stack overflow questions titles+answers (excluding source code) and compare.

[2020-08-23 20:17] JohnGiorgi commented on #144
I see, thanks! How big is this corpus of SO question titles + answers? It would be helpful to know the # of examples and the average length of each example.

I see two paths forward,

1. Following the [training instructions in the readme](https://github.com/JohnGiorgi/DeCLUTR#preparing-a-dataset) and the [colab](https://colab.research.google.com/github/JohnGiorgi/DeCLUTR/blob/master/notebooks/trai

[2020-08-23 20:44] masoudh175 commented on #144
Thanks a lot for the offer. I'll contact you through an email.

[2020-08-23 20:44] #144 closed

[2020-08-25 17:28] oconnoat opened #147 "Huggingface hosted inference api: rogue character in mask, also perhaps wrong task?"
The Declutr work is very exciting, thank you for sharing.

Issue part one: The huggingface hosting site for the model has the default fill-text task - perhaps a note that this is not a relevant task in the model card?

Additionally, the code seems to have an error, where the results include a rogue character at the start of the decoded mask token.
<img width="823" alt="Screen Shot 2020-08-25 at 09

[2020-08-26 16:23] masoudh175 opened #148 "Does the model borrow the initial weights from other models?"
Hi,

Thanks for the well written paper! I have two questions:
1. In the paper it is mentioned that ```To make the computational requirements feasible, we do not train from scratch,
but rather we continue training a model that has been pre-trained with the MLM objective. Specifically,
we use both RoBERTa-base [16] and DistilRoBERTa [49] (a distilled version of RoBERTa-base)
in our experiments.``` D

[2020-08-26 16:38] JohnGiorgi commented on #148
Yes. Our paper, repo, and example notebooks all begin from [DistilRoBERTa](https://huggingface.co/distilroberta-base) or [RoBERTa](https://huggingface.co/roberta-base) pre-trained checkpoints (for DeCLUTR-small and DeCLUTR-base respectively) and extend their training with our contrastive objective. "Fine-tunes" probably isn't the right terminology here (at least I think) as it usually denotes supe

[2020-08-26 16:50] JohnGiorgi commented on #147
Thanks for the kind words.

I am not so sure this is an error. "Ġ" is not a "rouge" character, but an encoded space character of the BPE tokenization that these models use (see [here](https://github.com/huggingface/transformers/issues/3867)). You will notice that the `fill-mask` task of `roberta-base` [model card also generates them](https://huggingface.co/roberta-base?text=Paris+is+the+%3Cmask%3E

[2020-08-26 17:46] oconnoat commented on #147
Looks like you're right! It is a hf issue.
Thanks for looking into it.

[2020-08-26 17:46] #147 closed

[2020-08-26 18:28] masoudh175 commented on #148
Yes, I got my answer. Thanks!

[2020-08-26 18:28] #148 closed

[2020-08-26 20:43] masoudh175 opened #150 "Getting package dependency errors while using the library"
I followed the instruction [here](https://github.com/JohnGiorgi/DeCLUTR#installation) to install the package. Then I tried to run [this code](https://github.com/JohnGiorgi/DeCLUTR#as-a-library). But I am getting this error:

`/opt/anaconda3/envs/allennlp/lib/python3.7/site-packages/declutr/modules/token_embedders/pretrained_transformer_embedder_mlm.py in <module>
      7 from allennlp.modules.toke

[2020-08-26 20:46] JohnGiorgi commented on #150
Hi @masoudh175,

If I had to guess, it looks like you didn't install AllenNLP from source. Is that the case?

Unfortunately, this is required for the time being (as noted in the [README](https://github.com/JohnGiorgi/DeCLUTR#gotchas)).  Please [install AllenNLP from source](https://github.com/allenai/allennlp#installing-from-source), then try calling `pip install git+https://github.com/JohnGiorgi/

[2020-08-26 21:04] masoudh175 commented on #150
Yes, that was the problem. Thanks!

[2020-08-26 21:04] #150 closed

[2020-10-23 17:56] ydennisy opened #159 "Representing full documents using DeCLUTR"
Hi!

Great paper and project, thanks for sharing!

Just a quick question, a lot of this work is around representing sentences, but quite often use case dictates that we need to represent a whole document. How do you suggest that is achieved using your library?

Thanks in advance!
D

[2020-10-23 19:08] JohnGiorgi commented on #159
Hi @ydennisy,

Good question. How long on average are the documents you want to process? Under the hood, DeCLUTR is using RoBERTa-base, so it can handle text up to 512 wordpieces long. This should be enough to embed full paragraphs.

There are two solutions if your text is longer than this:

1. Consider breaking it up into chunks of 512, embedding each chunk, and then taking the average.
2. Re-tra

[2020-10-30 19:28] ydennisy commented on #159
@JohnGiorgi  thank you for your reply!

I had not seen `Longformer` before so thanks for bringing that to my attention.

We are currently trying to figure out a nice objective metric for various downstream tasks. Once we have this I can share for sure - but I should not have any troubles training.

I think what I did not grasp from the paper is how your model interacts with the models it is based

[2020-10-30 23:11] JohnGiorgi commented on #159
No problem!

Great! I would be very interested in metrics for evaluating long-document embedding.

We take a pre-trained language model, like RoBERTa, and extend its training for 1-3 epochs. In this extended phase, the model is trained with masked language modelling (MLM, just like the original pre-training) and our contrastive objective. Our contrastive objective encourages the model to assign si

[2020-11-04 18:54] zerocstaker opened #162 "Reproducing the same training dataset"
Hi,
Thank you for the great paper and code!

I want to reproduce the results and I am not sure about the exact steps to reproduce the training dataset from OpenWebText. I downloaded the entire OpenWebText from the corpus and removed documents that have a length of less than 2048 after Roberta tokenization. This leaves me with 812,436 documents.

In your paper, you reported that you got 495,243 doc

[2020-11-04 18:57] JohnGiorgi commented on #162
Hey @zerocstaker,

Thanks for reaching out. Firstly, I am going to download a fresh copy of OpenWebText and run my script to see if everything checks out. This will take some time. In the meantime, here is the code I ran when I first generated the training data months ago:

[code]

[2020-11-04 19:11] zerocstaker commented on #162
Thanks for the quick response! I am using pretrained roberta-base tokenizer without special tokens to determine the length. It does take a long time to process everything (around 6 hours).

Nevertheless, I got almost double the number of documents than what you reported, and so I want to make sure if I did anything correctly. One thing I suspect that may be happening is that tokenizer splits some

[2020-11-04 19:13] JohnGiorgi commented on #162
@zerocstaker No problem. Yes, it is expected that you are getting more documents with over 2048 wordpiece tokens. Let me know if the results with whitespace tokenization are expected (I think they will be).

[2020-11-04 21:48] zerocstaker commented on #162
Hi John, with splitting by space, I am now able to get 497,864, which is similar to what is reported in the paper. The difference in the number of documents may come from how I unzip the things (I remembered I didn't get any error with tar), but I think it is close enough and should result in similar results. Thanks!

[2020-11-04 21:48] #162 closed

[2020-11-11 23:25] JohnGiorgi commented on #159
Closing this for now. Please re-open if you have other questions!

[2020-11-11 23:25] #159 closed

[2020-11-11 23:25] JohnGiorgi commented on #48
This is no longer on the table, so I am closing the issue.

[2020-11-11 23:25] #48 closed

[2020-11-11 23:26] JohnGiorgi commented on #79
I don't think I am going to bother fighting with the TensorFlow logger. The results are printed and saved to disk, which is the important thing.

[2020-11-11 23:26] #79 closed

[2020-11-11 23:29] JohnGiorgi opened #164 "Models don't load with allennlp>=1.2.0"
The pretrained models do not load properly with `allennlp>=1.2.0`. The error reported is:

[code]

For now, I will constrain the dependency to be `"allennlp>=1.1.0, <1.2.0"`, but it would be great to find another solution (short of re-training the model).

[2020-11-14 02:44] bahareharandizade opened #167 "UnboundLocalError about local variable 'this_epoch_val_metric' in Allennlp trainer.py"
Hello,
I ran into this issue when trying to run your code on wikitext103 data.

UnboundLocalError: local variable 'this_epoch_val_metric' referenced before assignment

I think it might related to not specify "validation_data_path" in the config file. I appreciate your help!

[2020-11-14 03:49] JohnGiorgi commented on #167
Do you mind posting the full stack trace? And let me know what version of AllenNLP you are using?

If I had to guess, this error is actually coming from AllenNLP.

[2020-11-21 15:19] JohnGiorgi commented on #167
I am able to trigger this issue if I supply a non-zero `"patience"` argument to the trainer, _without_ also supplying a `"validation_data_path"` argument. Is that what you are doing, perhaps?

[2020-11-21 20:13] bahareharandizade commented on #167
Thanks for your reply, I added validation_data_path and it resolved, but in the model output it seems the validation_set was not used.... so your suggestion now is I should apply non-zero "patience" argument to the trainer?

[2020-11-21 20:22] JohnGiorgi commented on #167
You shouldn’t need to set validation_data_path or patience. You will notice that neither are set in the default configs in this repo.

[2020-11-22 00:10] bahareharandizade commented on #167
xt_field_embedder.token_embedder_tokens.transformer_model.roberta.encoder.layer.1.attention.self.key.bias'], {}
2020-11-21 15:39:08,571 - INFO - allennlp.training.optimizers - Number of trainable parameters: 82170201
2020-11-21 15:39:08,574 - INFO - allennlp.common.util - The following parameters are Frozen (without gradient):
2020-11-21 15:39:08,576 - INFO - allennlp.common.util - The following p

[2020-11-23 16:15] JohnGiorgi commented on #167
Will you please try using a version of `allennlp<1.2.0`. Notice that this is specified in the `setup.py` file.

https://github.com/JohnGiorgi/DeCLUTR/blob/209118859973ba1e352fa18c5732dd5de79c622f/setup.py#L44

`allennlp-models` is not a requirement of this repo so you shouldn't need it.

[2020-11-29 15:43] JohnGiorgi commented on #167
I confirmed that this was a bug In `allennlp>1.20`. See [here](https://github.com/allenai/allennlp/commit/5b30658514a00e11000e648fec23be11a998bd92). Installing `"allennlp>=1.1.0, <1.2.0"` should fix your issue. Please re-open the issue if it does not.

[2020-11-29 15:43] #167 closed

[2020-12-09 15:50] GabrielLin opened #169 "Can't load weights for 'johngiorgi/declutr-sci-base'"
When I would like to load the model from Transformer, I am facing the following issue. Could you help? Thanks.
[code]

[2020-12-09 15:54] JohnGiorgi commented on #169
Can you please copy and paste the exact code you are using to load the model?

[2020-12-09 16:15] GabrielLin commented on #169
@JohnGiorgi Thanks for your reply. I am sorry. I think it is my network issue. I put my code to another server with different IP and it is OK.

[2020-12-09 16:15] #169 closed

[2020-12-09 16:16] JohnGiorgi commented on #169
No worries, feel free to open issues if you have other troubles.

[2020-12-31 23:24] nicolasahar commented on #164
@JohnGiorgi have you found a solution to this? Also experiencing the same error message but with `position_ids`:
[code]
[code]

[2021-01-21 07:05] shaktisd opened #178 "getting error ValueError: Using AMP requires a cuda device"
While running the following code from sample notebook, I am getting error ValueError: Using AMP requires a cuda device, but I am running it on a GPU enabled colab notebook.

!allennlp train "declutr_small.jsonnet" \
    --serialization-dir "output" \
    --overrides "$overrides" \
    --include-package "declutr" \
    -f
[code]

[2021-01-21 14:08] JohnGiorgi commented on #178
Hi @shaktisd, thanks for letting us know. I just opened the training notebook and was able to execute all the cells and start training without any issues.

Can you double-check that your notebook has access to a CUDA device with the following?

[code]

[2021-01-27 09:33] leerumor opened #180 "Please release a requirements.txt for dependencies"
Hi! I wanted to reproduce the result on SentEval, but failed because of the following error:
[code]

I think is the caused by the incompatible version of packages? I noticed the allennlp1.1.0 is released in September but your paper is released in June.
So could you release a requirements.txt, please?
Thanks!

[2021-01-27 13:28] JohnGiorgi commented on #180
Hi @leerumor,

Which version of AllenNLP are you using? I can't really tell what is happening from the error, but it looks like it may be because you are using a version of AllenNLP before they introduced the `use_amp` param.

We have a [`setup.py`](https://github.com/JohnGiorgi/DeCLUTR/blob/master/setup.py) that serves the same purpose as a `requirement.txt`. Did you install following the instruc

[2021-01-27 22:09] JohnGiorgi commented on #178
I am going to close this because I suspect the colab notebook wasn't configured to use GPUs. Please re-open if that is not the case and I will take another look!

[2021-01-27 22:09] #178 closed

[2021-01-28 06:56] leerumor commented on #180
Thanks for your reply.

I did following the instructions, here are the versions:
[code]

I downloaded SentEval toolkit and moved declutr-base to output folder. Then run command:
[code]

[2021-01-28 12:14] leerumor commented on #180
The error was because there is no "model" key in config dict:
[code]

but when I added config["model"]="declutr", another error occured:
[code]

[2021-01-28 13:50] JohnGiorgi commented on #180
Great, thanks for the extra info.

Will you call `ls` on whether the `"output"` folder is on your system and let me know the output? If you downloaded `declutr-base` from [here[(https://github.com/JohnGiorgi/DeCLUTR/releases), it should contain everything you need.

In the meantime, I will work on adding a notebook to the repo that evaluates the pre-trained models on SentEval.

[2021-02-12 02:53] JohnGiorgi commented on #180
Closing this because the notebook should provide enough information to evaluate any of the pre-trained models (or your own models) against SentEval. Please re-open if you are still having difficulties!

[2021-02-12 02:53] #180 closed

[2021-02-12 08:46] lessenko opened #185 "What is the max length of the text for the DeCLUTR-small model input?"
What is the max length of the text for the DeCLUTR-small model input?

Thanks.

[2021-02-12 14:25] JohnGiorgi commented on #185
512, the same as the underlying pretrained models.

[code]

DeCLUTR-base is also 512.

[2021-02-12 17:10] lessenko commented on #185
Thanks.
Just in case  I tried Universal Sentence Encoder (https://tfhub.dev/google/universal-sentence-encoder/4).
It permits to use more large text input, but it is for TensorFlow.

[2021-02-12 17:15] JohnGiorgi commented on #185
No problem. Just note that our models are more comparable to https://tfhub.dev/google/universal-sentence-encoder-large/5 than https://tfhub.dev/google/universal-sentence-encoder/4.

Also, if your text is longer than 512 tokens, you can try breaking it into chunks of 512, embedding each chunk independently, and then averaging the chunk embeddings to get a single embedding.

[2021-02-12 17:20] lessenko commented on #185
Thanks. I might try it.

[2021-02-12 17:48] JohnGiorgi commented on #185
Cool, feel free to open a new issue or re-open this one if you have DeCLUTR specific questions!

[2021-02-12 17:48] #185 closed

[2021-02-16 00:20] deven367 opened #186 "Colab runs out of memory while generating bulk embeddings"
Hello,

I am trying to use DeCLUTR for my thesis where I wish to generate bulk embeddings (around 23k sentences). Once the model is done generating 3.5k embeddings, Google Colab simply crashes and reloads the runtime. Is there any work around for this?

Thanks,
Deven

[2021-02-16 20:17] JohnGiorgi commented on #186
Hi @deven367,

Is it crashing because you use up all the available RAM? VRAM? I am able to create 3.5K 768 dimensional embedding with `torch` on colab using either the RAM or VRAM without any issues.

[code]

Maybe if you could link a colab notebook with the minimum amount of code needed to trigger the error I could take a look. In short though, this sounds like a colab problem and not a DeCLUTR p

[2021-02-16 20:18] JohnGiorgi commented on #164
This problem is solved by migrating to AllenNLP>=2.0.0. I will close this once I have merged the migration.

[2021-02-16 20:18] JohnGiorgi commented on #146
This problem is solved by migrating to AllenNLP>=2.0.0. I will close this once I have merged the migration.

[2021-02-16 20:18] JohnGiorgi commented on #118
This problem is solved by migrating to AllenNLP>=2.0.0. I will close this once I have merged the migration.

[2021-02-16 20:42] FL33TW00D opened #187 "Update HuggingFace Sci-base example"
Hi all,
It seems like there has been a breaking change in HF that causes the sci-base example to fail, the code in the sci-base model card is as follows:
[code]

Version that works with current HF version:
[code]

Please let me know if I am mistaken.

Many thanks,
Chris

[2021-02-17 00:20] JohnGiorgi commented on #187
Hi @FL33TW00D,

Hmm, that code you copied from the model card does look out of date. Good catch.

I believe that this is what the model card should read, which is similar to what is in [this repos README](https://github.com/JohnGiorgi/DeCLUTR/blob/master/README.md).

[code]

I checked that this works locally with the latest version of [Transformers](https://huggingface.co/transformers/). I also up

[2021-02-17 02:13] deven367 commented on #186
https://colab.research.google.com/drive/1zzAciLi8oFHn61ADCt1Z6xzRgG6gMjJw#scrollTo=0wNYDQ7-xC5P

Here's the link to my notebook. I haven't made any particular changes. I face this issue while generating embeddings for these files.
https://github.com/deven367/thesis/blob/main/datasets/cleaned_novels/Ulysses_cleaned.txt
https://github.com/deven367/thesis/blob/main/datasets/cleaned_novels/Pride%20and

[2021-02-17 08:08] FL33TW00D commented on #187
@JohnGiorgi thanks very much for the quick response and resolution.

[2021-02-17 08:08] #187 closed

[2021-02-17 17:02] JohnGiorgi commented on #186
I think I understand what's going on. When we bulk-embed stuff using the AllenNLP `predict` it is creating [`Instance`](https://docs.allennlp.org/v1.0.0rc3/api/data/instance/) objects under the hood (that is what is shown in your screenshot). These objects are actually quite big, and take up a lot of RAM, and eventually crash Colab. I think this problem is mostly solved in `allennlp>=2.0.0`. I hav

[2021-02-22 21:35] deven367 commented on #186
Using the enconder function directly did work out. Thanks John! Is there a way to directly use SentEval on already generated embeddings?

[2021-02-22 21:39] JohnGiorgi commented on #186
Great!

Hmm, not sure what you mean. Take a look at SentEval's [documentation](https://github.com/facebookresearch/SentEval). You will need to write a function [`batcher`](https://github.com/facebookresearch/SentEval#2-batcherparams-batch) that takes the input text of the various tasks and returns a vector. We have an example notebook that may be helpful [here](https://colab.research.google.com/gi

[2021-02-22 21:46] deven367 commented on #186
I mean, I have already saved the embeddings as .npy arrays

[2021-02-22 21:47] JohnGiorgi commented on #186
It is likely possible. I would take a look at the SentEval docs. It is not something this repo is setup for if that is what you are asking.

[2021-02-22 21:53] deven367 commented on #186
Oh okay! I'll take a look at it. Thank you.

[2021-02-23 23:13] JohnGiorgi commented on #186
No worries! I think the original issue has been addressed so I will close this. Please re-open this issue or open an additional issue if you get stuck with anything DeCLUTR-specific!

[2021-02-23 23:13] #186 closed

[2021-02-24 05:54] TheLegendAli opened #188 "should have a 'model_type' key in its config.json"
Which version of transformers are you using seems like  the config.json file works on certain versions but not others

[2021-02-24 13:31] JohnGiorgi commented on #188
The AllenNLP version in `setup.py` is pinned

https://github.com/JohnGiorgi/DeCLUTR/blob/21547bac3e7f9edf0681ad15774ceed36f499c25/setup.py#L44

Which pins `transformers` to `<1.6.0,>=1.5.0 to >=1.5.0,<1.7.0` I believe (see [here](https://github.com/allenai/allennlp/commit/9415350de27754c55dbdb26b4418c3e4b3af921c)).

Which version are you having trouble with?

[2021-02-25 08:18] TheLegendAli commented on #188
i am using Transformers 3.0.2

I am using this architecture to train on my own data...then I'm trying to load my new pre-trained models into transformers library and im getting this error. I looked closed and it has "declutr" as model type in the config file

[2021-02-25 13:26] JohnGiorgi commented on #188
Sorry which error are you getting? Can you post a stacktrace?

[2021-03-02 20:53] negar-mokhberian opened #190 "Validation data"
Is there a way to provide validation data for the training phase? How validation data is used in this method?

Thanks.

[2021-03-02 21:28] JohnGiorgi commented on #190
Hmm, I believe you could pass validation data by adding a `validation_data_path` key in the config but this is not something we tried.

I am not sure how useful this would be though. Assuming it works without any errors, it would spit out a validation loss at the end of each epoch. But the goal here isn't really to obtain the lowest validation loss. Our process is a pretraining step that is design

[2021-03-02 21:30] negar-mokhberian commented on #190
Thank you for your explanation. :)

[2021-03-03 15:06] JohnGiorgi commented on #190
No problem, feel free to re-open or open a new issue if you have any questions :)

[2021-03-03 15:06] #190 closed

[2021-03-03 18:31] JohnGiorgi commented on #164
Also see: https://github.com/allenai/allennlp/pull/4621#issuecomment-690782222

Which may allow us to avoid re-training

[2021-03-04 04:31] JohnGiorgi opened #191 "Vectorize the for loop within the forward pass"
https://github.com/JohnGiorgi/DeCLUTR/blob/21547bac3e7f9edf0681ad15774ceed36f499c25/declutr/model.py#L138

One approach might be to reshape the tensor instead of chunk it, then mean, and then reshape again.

[2021-03-12 19:41] FL33TW00D opened #193 "Document Embedding"
Hi @JohnGiorgi,
Thanks for releasing these brilliant models, sci-base is exactly what I was looking for and its producing great results. I am looking for your thoughts on maximising performance on documents. I have a range of passages describing an item, and I am wondering of the best way of combining the embeddings to retrain maximum information.

Each of these passages is between 10 and 500 word

[2021-03-12 21:58] JohnGiorgi commented on #193
Hi @FL33TW00D

Wow, that’s great! Super happy to hear `declutr-sci-base` is working well for you. I would be very curious to hear about how you are using it if you are comfortable sharing.

Hmm, if I understand your question, you are embedding text up to 500 words long. I think you have two options:

1) Pass the text straight to `declutr-sci-base` without modification — it was trained on passages

[2021-03-13 14:42] FL33TW00D commented on #193
Hi @JohnGiorgi,
Thanks for the fast response!

To give a little more context on the use case, I am attempting to create meaningful embeddings to describe medications based on their textual data from both PubChem & OpenFDA, for example:
https://pubchem.ncbi.nlm.nih.gov/compound/174174#section=Pharmacology-and-Biochemistry
https://api.fda.gov/drug/label.json?search=openfda.generic_name:%22atropine%2

[2021-03-14 15:44] JohnGiorgi commented on #193
@FL33TW00D

Okay, gotcha. Yeah based on that histogram I would probably be truncating just below 500 tokens. Or to be more precise, you could check where the 90, 95 and 99 percentiles are and then make the decision based on that. Truncating on the 90th percentile means less text so faster embedding, but possibly at the cost of embedding quality, 99 percentile is the opposite.

In short, there are

[2021-03-15 21:00] FL33TW00D commented on #193
@JohnGiorgi

Thanks for the insights. I will give weighted averaging a test to see how it effects performance!

Many Thanks,
Chris

[2021-03-15 21:00] #193 closed

[2021-03-20 18:50] david-wb opened #195 "Inserting special tokens"
Say I want to insert special tokens into a piece of text to help the model distinguish certain features.

With BERT, I can use tokens like `[unused0], [unused1], ...`. Are there similar tokens I can use with DeCLUTR?

For context, I'm using special tokens to delineate the boundaries of named entity mentions.
For example, inserting special tokens into
[code]
yields
[code]

How can I do this with De

[2021-03-20 19:10] JohnGiorgi commented on #195
This depends quite a bit on the details of your setup. I will assume you are doing everything from [HuggingFace's Transformers](https://huggingface.co/transformers/index.html). Then the first step is to take advantage of the `additional_special_tokens` kwarg of the [Transformers tokenizers](https://huggingface.co/transformers/main_classes/tokenizer.html). Something like:

[code]

Now, the tokenize

[2021-03-20 19:46] david-wb commented on #195
Thanks for explaining. It seems RoBERTa does not have additional unused tokens built in to the vocab, and I do not want to retrain from scratch, so I will try using some other delimiter like a simple `|`.

[2021-03-20 19:50] JohnGiorgi commented on #195
Maybe I am misunderstanding, but I don't think you would need to train from scratch in either case.

I think regardless of the strategy (add additional special tokens or use the unused ones) you will have to fine-tune the model so it learns to use your special tokens effectively / in the way that you expect.

Hope that helps.

[2021-03-20 19:53] david-wb commented on #195
Oh so resizing the model input embeddings would not force a re-train from scratch? If so I will likely try that. Thank you.

[2021-03-20 20:03] JohnGiorgi commented on #195
I can't think of why it would, but I would double-check to be sure! Might be worth it to dig into the [`resize_token_embeddings`](https://huggingface.co/transformers/main_classes/model.html#transformers.PreTrainedModel.resize_token_embeddings) function.

[2021-03-20 20:21] #195 closed

[2021-03-26 16:47] JohnGiorgi commented on #188
Closing due to lack of activity. Please re-open the issue if you still have questions.

[2021-03-26 16:47] #188 closed

[2021-03-26 16:48] #191 closed

[2021-03-31 13:40] TYXguo opened #198 "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
When I try to run the code, I get the error like "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)".

With the warning like "- INFO - allennlp.common.plugins - Plugin declutr available"
                                   " - WARNING - allennlp.common.params - error loading _jsonnet (this is expected on Windows), treating training_config\declutr.jsonnet as plain json"

How ca

[2021-03-31 13:55] JohnGiorgi commented on #198
Are you on Windows? Guessing based on the error message "`(this is expected on Windows)`". Unfortunately AllenNLP (which DeCLUTR is implemented in) does not currently support Windows, see [here](https://github.com/allenai/allennlp/blob/5974f54e9388fa2e8ea363c3865e505b2bab0c45/README.md#installation).

Do you need to train the model, or can you use one of the pretrained models? They are available [

[2021-03-31 14:01] TYXguo commented on #198
I'm very sorry I ignored this important information, I will try again on linux, thank you for your help！

[2021-04-06 10:00] kingafy opened #200 "Training notebook not working"
File ‘preprocess_wikitext_103.py’ already there; not retrieving.

[code]

Also I want to experiment this on a non-wiki dataset.. I have got input txt file .What shoulf be the output txt format so that it can be used for training.

[2021-04-06 13:20] JohnGiorgi commented on #200
Hi @kingafy

Ah I see, the bug is here

[code]

Weird because this use to work without error. Anyways, thanks for the heads up. I fixed it in #201. Try running a fresh copy of the notebook?

An input text file is all you need. It just needs to contain one document per line. See [Preparing a Dataset](https://github.com/JohnGiorgi/DeCLUTR#preparing-a-dataset) and [Training](https://github.com/JohnGi

[2021-04-06 15:23] JohnGiorgi commented on #198
Closing, but please feel free to re-open or open a new issue if you have questions.

[2021-04-06 15:23] #198 closed

[2021-04-14 06:29] kingafy opened #203 "Training notebook not working"
[code]

In this section I am getting error :
[code]

I have set min_length = 200. Kindly advise.

[2021-04-14 15:30] JohnGiorgi commented on #203
Please check the length of the smallest document in your corpus. The problem is that there is at least one document (with a length of 614) that is less than the required minimum length (`num_anchors * max_span_len * 2 or 2048`). This is mentioned [here](https://github.com/JohnGiorgi/DeCLUTR#gotchas-1) and [here](https://colab.research.google.com/github/JohnGiorgi/DeCLUTR/blob/master/notebooks/trai

[2021-04-15 04:13] kingafy commented on #203
I have created my own input file which is not wiki one. How to preprocess it to remove the ones not satisfying the criteria?

[2021-04-15 04:34] kingafy commented on #203
Where can i put the overides for max_span_len in the training notebook..Can it be done in the below section:-
overrides = (
    f"{{'train_data_path': '{train_data_path}', "
    # lower the batch size to be able to train on Colab GPUs
    f"'data_loader.batch_size': 2, "
    # training examples / batch size. Not required, but gives us a more informative progress bar during training
    f"'data_loa

[2021-04-15 12:51] tagizaade opened #205 "How to save model as a transformer model?"
Hi there,

I trained using colab sample on my corpus successfully, but I couldn't find a way to dump the model as a transformer model .
How I can do that?

Thanks.

[2021-04-15 13:24] JohnGiorgi commented on #205
Hi,

Awesome! We have a script for just that purpose actually, [here](https://github.com/JohnGiorgi/DeCLUTR/blob/master/scripts/save_pretrained_hf.py). Will you try that and let me know if it works?

I will also update the readme and notebook to point out this script.

[2021-04-15 13:59] JohnGiorgi commented on #203
This is mainly up to you. If your corpus of documents was stored as a list of strings (e.g. `documents`) then in python you could do something like:

[code]

You can see how we do it in the `preprocess_wikitext_103.py` script [here](https://github.com/JohnGiorgi/DeCLUTR/blob/349a58bcc829deba45860f617b3e2052287857ca/scripts/preprocess_wikitext_103.py#L101-L106)

[2021-04-15 14:01] JohnGiorgi commented on #203
Yes exactly, it is a parameter of `data_loader`, so you add it by specifying `'data_loader.max_span_len': some_int_here`. Let me know if that works!

[2021-04-15 18:24] tagizaade commented on #205
Thank you John. It worked.

[2021-04-16 04:13] kingafy commented on #203
When I am adding the extra parameter it is giving me error :--
 "Extra parameters passed to {}: {}".format(class_name, self.params)
allennlp.common.checks.ConfigurationError: Extra parameters passed to PyTorchDataLoader: {'max_span_len': 20}

So far I have not been able to process my native text file .NEither I am able to preprocess it nor train it due to the length constraint.

[2021-04-16 12:51] kingafy commented on #205
Do we need to pass the output directory as argument to saving the model as hf?

[2021-04-16 13:09] kingafy commented on #205
I have trained the model but what are the arguments to pass and what file from Declutr training to get the corresponding hf model in the script save_pretrained_hf???

[2021-04-16 13:26] kingafy commented on #205
Instructions passed to save:-
ARCHIVE_FILE = "/content/output/training_state_epoch_0.th"
SAVE_DIRECTORY = "/content/final_model/"

!python save_pretrained_hf.py ARCHIVE_FILE $ARCHIVE_FILE --SAVE_DIRECTORY $SAVE_DIRECTORY

[2021-04-16 13:34] JohnGiorgi commented on #205
@kingafy Just pass to `save_pretrained_hf.py` the same directory path you provided to the `--serialization-dir` argument of the `allennlp train` command. E.g. if you passed `--serialization-dir "output"`, you would call

[code]

`"output_transformers"` would now contain a model you could load with Hugging Face Transformers, e.g.

[code]

Please see #206 for more documentation.

[2021-04-19 19:57] JohnGiorgi commented on #200
Closing this as I believe the issue is solved.

[2021-04-19 19:57] #200 closed

[2021-04-19 19:58] JohnGiorgi commented on #203
@kingafy Will you please copy the entire `allennlp train` command, with all arguments and overrides? It is hard to debug the issue without that

[2021-04-19 20:06] #205 closed

[2021-05-06 13:30] JohnGiorgi commented on #203
Closing, but please let me know if the issue is not addressed and don't hesitate to open another issue.

[2021-05-06 13:30] #203 closed

[2021-05-13 11:31] kingafy opened #217 "Can we do transfer learning of ur model trained on wikipedia on our custom dataset."
I have close to 500 documents on a particular domain. I want to use previous wikipedia based trained model checkpoint(https://huggingface.co/johngiorgi/declutr-base)   to train on my custom data. Is there a way to do it. From the notebook it seems we need to train the declutr model from scratch.Any advice or suggestions how we can use the last checkpoint to finetune on our dataset.

[2021-05-13 12:03] kingafy opened #218 "New issue while using the training notebook in colab"
While executing the below script of Training notebook I am getting the below error:-
!allennlp train "declutr_small.jsonnet" \
    --serialization-dir "output" \
    --overrides "$overrides" \
    --include-package "declutr" \
    -f

[code]

[2021-05-13 20:31] JohnGiorgi commented on #218
The error trace seems to be complaining about `overrides`. Can you please copy/paste the statement where you set the `overrides` variable?

[2021-05-13 20:44] JohnGiorgi commented on #217
Yes, this should be possible. I might be able to write a notebook or update one of the existing ones with instructions, but it will probably take me about a week.

In case you want to get started before then, the general steps would be to:

1. Download the pretrained AllenNLP model [here](https://github.com/JohnGiorgi/DeCLUTR/releases/download/v0.1.0rc1/declutr-base.tar.gz). Unzip this, and keep t

[2021-05-14 03:46] kingafy commented on #218
Overrides are the same as mentioned in the training notebook.

[2021-05-14 22:39] JohnGiorgi commented on #218
Fixed in #219, just delete the last `}` in `overrides`.

[2021-05-16 04:18] kingafy commented on #218
Thanks a lot for your help.It worked.

[2021-05-16 04:19] kingafy commented on #217
Thanks a lot for your help.It worked.

[2021-05-16 09:27] kingafy opened #220 "Saving the model in hugging face format is not working"
##While executing the code to save into huggingface format..getting the error:-
!wget -nc https://github.com/JohnGiorgi/DeCLUTR/blob/master/scripts/save_pretrained_hf.py
!python save_pretrained_hf.py --archive-file "output" --save-directory "output_transformers"

--2021-05-16 09:26:21--  https://github.com/JohnGiorgi/DeCLUTR/blob/master/scripts/save_pretrained_hf.py
Resolving github.com (github.co

[2021-05-16 10:24] #220 closed

[2021-05-16 13:34] JohnGiorgi commented on #217
Awesome :)

[2021-05-16 13:34] #218 closed

[2021-05-20 06:07] kingafy opened #221 "Does the training notebook not work in windows jupyter notebook"
I was trying to train on my local GPU machine . It is a windows machine and am running the training notebook instructions in jupyter notebook but I am getting errors:-
2021-05-20 11:35:33,096 - WARNING - allennlp.common.params - error loading _jsonnet (this is expected on Windows), treating declutr_base.jsonnet as plain json
Traceback (most recent call last):
  File "c:\users\anshuman.a.mahapatra\

[2021-05-20 14:47] #217 closed

[2021-05-24 06:52] kingafy opened #223 "Cant set up DECLUTR in local AWS linux machine"
I am getting the following error while trying to install:-
Running setup.py install for jsonnet ... error
    ERROR: Command errored out with exit status 1:
     command: /home/dir/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-17ky483c/jsonnet_5b04eae0f0b449259315a39679254ec4/setup.py'"'"'; __file__='"'"'/tmp/pip-install-17ky483c/jsonnet_5b04eae0f

[2021-05-24 17:47] JohnGiorgi commented on #223
Hi,

This doesn't look to be a DeCLUTR specific problem. From the looks of it, [`jsonnet`](https://pypi.org/project/jsonnet/), which is a dependency of AllenNLP, is not installing correctly. I would try to diagnose the reason why `jsonnet` is not installing, and once that is fixed, install DeCLUTR.

[2021-05-27 13:40] #221 closed

[2021-06-25 20:27] negar-mokhberian opened #226 "argument 'lazy' for dataset_reader"
Hi,
I am using allennlp version 2.5.0 and I get the error:
`TypeError: __init__() got an unexpected keyword argument 'lazy'`
I am not sure how to resolve this problem.
I would appreciate any help on this issue.

[2021-06-25 20:49] JohnGiorgi commented on #226
Hi, AllenNLP > 2.0 causes all sorts of issues. Will you install one of the AllenNLP versions specificed in the `setup.py`

https://github.com/JohnGiorgi/DeCLUTR/blob/96c6f895ba048f392663921fb866e3966cc27b48/setup.py#L44

This is what will be installed if you follow the [installation instructions in the readme](https://github.com/JohnGiorgi/DeCLUTR#installation).

[2021-06-25 20:49] JohnGiorgi commented on #223
Closing, feel free to re-open if the issue wasn't addressed.

[2021-06-25 20:49] #223 closed

[2021-06-30 19:28] negar-mokhberian commented on #226
Thanks, it works now!

[2021-06-30 19:28] #226 closed

[2021-08-24 10:26] taghizad3h opened #229 "Superclass initialization in token embedder"
I have been updating dependencies to allennlp >=2. There is a problem with PretrainedTransformerEmbedderMLM. It doesn't call superclass to initialize it and it causes some problems.

[2021-08-24 14:47] JohnGiorgi commented on #229
Hi @taghizad3h, could you provide some more details or open a PR that I could review?

[2021-09-07 05:55] Jaswanth-Devarinti opened #231 "Could not lex the character code 194"
I am getting this error while training on custom data.
[code]
Its because of allennlp, is there anything I can do.
Thank you

[2021-09-11 17:49] JohnGiorgi commented on #231
Hmm, it seems like there is a character in your jsonnet config at `/content/drive/MyDrive/Tatasky data/Declutter_sent_embed/declutr.jsonnet` that is causing trouble. The error says it is on line 81 column 44 I believe. Maybe check that line?

[2021-09-11 18:14] Jaswanth-Devarinti commented on #231
Will do, thank you for the response.

On Sat, Sep 11, 2021, 23:20 John Giorgi ***@***.***> wrote:

[2021-09-14 08:18] julianbernado opened #233 "Minimum text length violated despite preprocessing"
What is the tokenizer used to calculate the minimum lengths during the preprocessing involved in training? As I understand from looking at the code, it should be either the Tokenizer for the given pretrained model or the SpacyTokenizer. Yet, I have pared down my dataset to only include texts whose length exceeds my needed minimum length according to both of these tokenizers, but still run into the

[2021-09-21 20:59] JohnGiorgi commented on #233
This check uses the `tokenizer` passed to `dataset_reader.py` IF it is a `PretrainedTransformerTokenizer`. Otherwise is uses `.split()`.

Did you use the same tokenizer to filter your dataset as the tokenizer you passed to `dataset_reader.py`?

[2021-09-21 21:00] #231 closed

[2021-09-24 03:23] kingafy opened #234 "How to plot the learning curve from the output logs created post training of declutr?"

[2021-09-24 09:53] repodiac commented on #233
Hi, I have a similar issue: I get `ValueError: len(tokenizer(text)) should be at least <number here> (num_anchors * max_span_len * 2), got 0`

I have filtered my input data to have both minimum length beyond parameter `min_length` and greater than 0, of course! I also tried to print out the text to be tokenized, it was empty!? How can that be?

I use a pretrained model from Sentence Transformers,

[2021-09-27 11:52] repodiac commented on #118
Still a question: So you DO shuffle between epochs - great. But why is it that the loss signficantly drops when I restart (`from_archive`) training with an existing model? The first epoch after restarting seems to lead to a much bigger drop in the resulting loss - that's why I was assuming that maybe you only shuffle at the BEGINNING of epoch 1 and then for the next epochs (in the same run!) no sh

[2021-09-27 13:59] JohnGiorgi commented on #118
@repodiac

RE dataset shuffling:

With the current code, shuffling should happen at the beginning of every epoch.

RE big drop in loss after first epoch:

I think the big drop you are seeing has to do with how AllenNLP presents the loss. I believe it is a running average during that epoch. Loss starts off very high, naturally, so during the first epoch, the average loss is correspondingly high. Wh

[2021-09-27 14:00] JohnGiorgi commented on #234
Hi @kingafy,

You might be better off using Tensorboard. We are using AllenNLP 1.1.0 so the relevant documentation is [here](https://docs.allennlp.org/v1.1.0/api/training/tensorboard_writer/).

Otherwise, I am not sure. You would need to parse the logs and plot the data yourself with matplotlib or something comparable.

[2021-09-27 14:09] repodiac commented on #118
Hi @JohnGiorgi , thanks for your quick response and help!

Regarding the loss: I am not quite sure I understand correctly. What I mean is (example-wise):

1 - I start with loss = 10 in epoch 0, then it reaches 7 at the end of epoch 9 (10 epochs in total). The model is saved.
2 - I restart/resume using the model from epoch 9 in a new run, also with 10 epochs in total. The loss after epoch 0 (i.e. "

[2021-09-27 14:35] JohnGiorgi commented on #118
Did you confirm that the loss is significantly different when you train for 30 straight epochs vs 3 X 10 epoch runs?

I never broke training up with multiple steps and continued using `from_archive`, so I am not sure if there are any gotchas with that approach.

[2021-09-27 14:44] repodiac commented on #118
No, I did not try out for a full 30 epoch run yet. But due to overfitting or local minima for instance the gap between run 1, epoch 9 and run 2, epoch 1 is way too big to be by chance. Same applies to run 2 -> run 3.

The "advantage" is/might be that I have a more fine grained control over training runtime (cloud GPU is not for free :) and can decide to continue or not between intermediate runs.

[2021-09-27 16:07] JohnGiorgi commented on #118
Ah, I just remembered that [there is a learning rate scheduler](https://github.com/JohnGiorgi/DeCLUTR/blob/73a19313cd1707ce6a7a678451f41a3091205d4e/training_config/declutr.jsonnet#L82-L84) that is likely being reset every time training restarts. This could explain the big drop in loss across restarts.

Kind of annoying but, you may need to manually set [some of the parameters of the learning rate

[2021-09-28 07:16] repodiac commented on #118
Ok, thanks a lot - I'll look into it.

[2021-09-28 07:42] repodiac opened #235 "Impact of "shorter" documents (span, number of tokens) for extended pretraining"
I am currently trying to use DeCLUTR for extended pretraining in a multilingual setting for documents of a domain-specific purpose.

I chose to use `sentence-transformers/paraphrase-multilingual-mpnet-base-v2` and have approximately 100k documents of varying length. Thus, I quickly ran into the "known" token/span length error (see https://github.com/JohnGiorgi/DeCLUTR/blob/73a19313cd1707ce6a7a6784

[2021-09-28 08:34] kingafy opened #236 "Installation issue"
I am trying to install declutr on python=3.6. Getting the below error every time.
Running command git clone -q https://github.com/JohnGiorgi/DeCLUTR.git '<localdir>_'
ERROR: Could not find a version that satisfies the requirement torch<1.7.0,>=1.6.0 (from allennlp) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2, 1.7.0, 1.7.1, 1.8.0, 1.8.1, 1.9.0, 1.9.1)
ERROR: No matching distribution found for t

[2021-09-28 08:49] repodiac commented on #236
Hi, did you follow the instructions on the webpage - i.e. have you installed AllenNLP *before* installing DeCLUTR?

Btw. I could only make it work using `conda` for the installlation of AllenNLP since otherwise AllenNLP did not work properly in my case.

[2021-09-28 11:53] repodiac opened #237 "Wrong training procedure?"
I trained an extension of model `sentence-transformers/paraphrase-multilingual-mpnet-base-v2` (see #235).

After training I used the script [save_pretrained_hf.py](https://github.com/JohnGiorgi/DeCLUTR/blob/master/scripts/save_pretrained_hf.py) in order to convey it to a HuggingFace Transformer-compatible format.

When I now run the [example code](https://github.com/JohnGiorgi/DeCLUTR#embedding) f

[2021-09-28 13:20] #234 closed

[2021-09-28 13:34] JohnGiorgi commented on #236
@kingafy I am not sure what could be causing this issue. I just double-checked that running `pip install git+https://github.com/JohnGiorgi/DeCLUTR.git` in a colab notebook works without error (you can confirm by running the first code cell in [this notebook](https://colab.research.google.com/github/JohnGiorgi/DeCLUTR/blob/master/notebooks/training.ipynb)). Maybe try using a new python version? The

[2021-09-28 13:34] repodiac commented on #235
OK, thanks for your insights anyway. I see, obviously I have to look for something else maybe... I don't see a useful point in merging/concatenating documents to meet your "defaults" :-/

What I don't understand: You mention that "*Ideally min_length and max_length would be an upper and lower bound on the length of text you expect to do inference on.*" **but** you require the documents for trainin

[2021-09-28 13:42] repodiac commented on #236
Oh, btw. @JohnGiorgi - I figured that the version of the `transformers` library is outdated - you need a current version to have the bug fixed which prevents you from using huggingface hub models: https://github.com/huggingface/transformers/issues/12941

[2021-09-28 13:44] JohnGiorgi commented on #235
We require a multiple of 2 because we always sample _at least two spans from each document_ (an anchor and a positive). The multiple increases when `num_anchors > 1` (I think you are saying 4 because [`num_anchors == 2` by default?](https://github.com/JohnGiorgi/DeCLUTR/blob/73a19313cd1707ce6a7a678451f41a3091205d4e/training_config/declutr.jsonnet#L16)). This doesn't mean the model actually sees te

[2021-09-28 13:54] repodiac commented on #235
yes

This doesn't mean the model actually sees text of this length. It only ever sees text from token length `min_length` up to token length `max_length`. I hope that is clear. I would encourage you to [check out our paper](https://aclanthology.org/2021.acl-long.72/) for more details, but also feel free to ask follow-up questions.

Have only skimmed the paper, to be honest :)

Ok, will do.

I woul

[2021-09-28 13:59] kingafy commented on #236
What should I do to resolve transformers version issue?

[2021-09-28 14:01] kingafy commented on #236
In colab no issues but in local I am facing issues. I set up a new environment with python=3.6.
Installad Allennlp, then tried to install declutr both from source as well as via pip install command as suggested but the error keeps coming
ERROR: Could not find a version that satisfies the requirement torch<1.7.0,>=1.6.0 (from allennlp) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2, 1.7.0, 1.7.1,

[2021-09-28 14:12] repodiac commented on #237
* the config is equal to your original `declutr.jsonnet` - besides the min/max length issue (see #235), thus `masked_language_modelling` set to `True` is the case (just checked)

[code]
**However, as I wrote in https://github.com/JohnGiorgi/DeCLUTR/issues/118#issuecomment-927912463 ** in the continued/restarted runs I used the first model as `from_archive`: ** Is that the problem?**

[code]
* the

[2021-09-28 14:21] repodiac commented on #236
@kingafy : are you absolutely sure to use python 3.x? I know this kind of problem if you're accidentially using python 2.x still (for instance, you forgot to switch to the virtual environment/conda). Try `python --version` to check.

Regarding the transformers library, simply uninstall and reinstall:

[code]

[2021-09-28 14:25] JohnGiorgi commented on #237
I think you are free to ignore these messages. I imagine this happens because somewhere during loading of the model, `AutoModel.from_pretrained` is used, so the weights of `lm_head` are not initialized, which is OK because we don't use them to produce sentence embeddings.

[2021-09-28 14:39] repodiac commented on #237
I have to admit that I am not particularly familiar enough with the underyling `XLMRobertaModel`, but `lm_head` sounds to me like the last hidden layer (in general, you put a task-specific header on top, e.g. softmax for classification tasks etc.) So for embeddings I would expect `lm_head` to be used as last layer?

[2021-09-28 14:41] JohnGiorgi commented on #237
The example code you cited uses mean pooling on the token embeddings from the model's last transformer block. This doesn't require `lm_head`.

[2021-09-30 07:09] repodiac commented on #235
Just FYI:
![image](https://user-images.githubusercontent.com/53218201/135403902-cbae6a5c-8df2-4da9-9e6e-efc011e2b18e.png)

I guess, I am on "uncharted lands" then with DeCLUTR and should probably look for another method which fits better to my use case.

Note: The x-axis show the length (i.e. number of tokens) and y-axis the number of documents with that length/number of tokens

[2021-09-30 17:47] JohnGiorgi commented on #235
Yes, those are very short training examples. You could try lowering the `max_length` accordingly and see what kind of performance you can get. Otherwise, there are some great unsupervised sentence embedding models [here](https://www.sbert.net/examples/unsupervised_learning/README.html) that you may be able to train on your data.

[2021-10-06 03:50] kingafy opened #238 "Strange issue occuring during Training"
Team,
I have been using Declutr for last few months and have trained various models. A strange issue is surfacing. currently, When I convert the model to hugging face from using the code save_pretrained.py code there are 7 files getting created where as earlier it were 6 files. The extra file is of tokenizer.json file. When I consume this model , I am not able to load in Autotokenizer which gives

[2021-10-07 02:38] JohnGiorgi commented on #237
Closing this, feel free to re-open if you are still having issues.

[2021-10-07 02:38] #237 closed

[2021-10-07 02:39] #229 closed

[2021-10-07 02:41] JohnGiorgi commented on #235
Closing, feel free to re-open if you are still having issues.

[2021-10-07 02:41] #235 closed

[2021-10-07 02:41] JohnGiorgi commented on #236
@kingafy Has this been solved?

[2021-11-03 13:32] ZahraGhasemi-AI opened #241 "load pretrained tf1 model with pytorch"
Hi.
I want to load a pretrained model that trained with fensorflow 1.15.
Is there any solution for it? I found some solutions but all of them was used for converting tensorflow 2 to pytorch.bin. I used tensorflow1.15.

[2021-11-03 20:19] JohnGiorgi commented on #241
Hi, could you provide more detail? Could you share the stacktrace of the error for example?

[2021-11-03 20:20] JohnGiorgi commented on #238
Closing this, please feel free to re-open if you are still having trouble.

[2021-11-03 20:20] #238 closed

[2021-11-03 20:20] JohnGiorgi commented on #236
Closing. Feel free to re-open if there are still issues.

[2021-11-03 20:20] #236 closed

[2021-11-03 20:20] #233 closed

[2021-11-03 21:15] ZahraGhasemi-AI commented on #241
I got this error at first:
...
 File "/media/2TB_2/ZGH/DontDelet/venv3.6.9/lib/python3.6/site-packages/transformers/modeling_utils.py", line 625, in from_pretrained
    pretrained_model_name_or_path,
OSError: Error no file named ['pytorch_model.bin', 'tf_model.h5', 'model.ckpt.index'] found in directory electra-small or `from_tf` set to False

then I set `from_tf` to True and I got another error:

[2021-11-03 21:52] JohnGiorgi commented on #241
Hmm, this error is coming from the `transformers` package, not `declutr`. The stack trace shows the following files:

- `/media/2TB_2/ZGH/DontDelet/venv3.6.9/lib/python3.6/site-packages/transformers/modeling_utils.py`
- `/media/2TB_2/ZGH/DontDelet/venv3.6.9/lib/python3.6/site-packages/transformers/modeling_electra.py`
- `/media/2TB_2/ZGH/DontDelet/venv3.6.9/lib/python3.6/site-packages/transformers

[2021-11-03 22:14] ZahraGhasemi-AI commented on #241
I tried it and got same error:
Traceback (most recent call last):
  File..............., line 3, in <module>
    model = AutoModel.from_pretrained('/media/2TB_2/ZGH/DontDelet/MyDeCLUTR/DeCLUTR/bert-base-multilingual-cased')
  File "/media/2TB_2/ZGH/DontDelet/venv3.6.9/lib/python3.6/site-packages/transformers/modeling_auto.py", line 502, in from_pretrained
    return model_class.from_pretrained(pre

[2021-11-04 00:25] JohnGiorgi commented on #241
Right, so this suggests the problem is with `transformers`, not `declutr`. You may have to ask for help on the `transformers` repo!

[2022-01-04 14:59] #241 closed

[2022-01-17 05:07] kingafy opened #244 "How to integrate a longer sequence model like longformer into declutr architecture"
I am planning to have a longer sequence based model into Declutr so that similar context tasks the limitations are not present on the sequence length part. Is there a limitation to implement?

[2022-01-17 14:43] JohnGiorgi commented on #244
The only changes you should have are:

1. Update [`max_length`](https://github.com/JohnGiorgi/DeCLUTR/blob/d10560823b37adc0ff9a02db786b4c57504da81b/training_config/declutr_small.jsonnet#L6) if you want to train on longer contexts
2. Update [`transformer_model`](https://github.com/JohnGiorgi/DeCLUTR/blob/d10560823b37adc0ff9a02db786b4c57504da81b/training_config/declutr_small.jsonnet#L3) to a HF mode

[2022-01-18 06:40] kingafy commented on #244
I tried integrating but am getting issue  while integrating allenai/longformer-large-4096
FileNotFoundError: Caught FileNotFoundError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/torch/utils/data/_utils/worker.py", line 185, in _worker_loop
    data = fetcher.fetch(index)
  File "/usr/local/lib/python3.7/dist-packages/to

[2022-01-18 14:35] JohnGiorgi commented on #244
The first error looks like one of your datapaths is wrong or non-existent (`train_data_path` or `validation_data_path`).

Your second, I am not sure. At some point AllenNLP tries to multiple some tokens of size 512 with a mask of size 503. You may have to look into the specifics of longformer to see how to use it properly, or try another model that accepts long input sequences.

[2022-01-19 05:36] kingafy commented on #244
Unfortunately the clarity is not there how to train longer sequence models using Declutr on allen NLP. Is there a way I can use Declutr base on longer context sequence with some striding parameters  or any other way to handle longer sequence for semantic tasks.

[2022-01-19 14:16] JohnGiorgi commented on #244
Could you provide more detail as to exactly what you are trying to do? Are you trying to re-train the model with a longer  [`max_length`](https://github.com/JohnGiorgi/DeCLUTR/blob/d10560823b37adc0ff9a02db786b4c57504da81b/training_config/declutr_small.jsonnet#L6)? Or are you trying to use a trained model on longer sequences?

[2022-01-19 14:41] kingafy commented on #244
I want to handle longer sequences for semantic tasks.SO there are two approaches:-
1. Use a declutr objective on long sequence model to support longer seq.
2. Use the declutr on roberta base or roberta large but have some sort of striding logic so that longer sequences input during inferencing does not create bottlenecks.
Hope this explains the task in hand.

[2022-01-19 15:16] JohnGiorgi commented on #244
Training on longer sequences is going to be tricky as you would need to collect even longer training documents.

I would go with approach 2. AlleNLP has support for chunking up some text into blocks of `max_length`, embedding each, and then concatenating the embeddings. The general approach would be:

1. Set the `max_length` argument of the tokenizer to the maximum length of documents you want to

[2022-01-19 15:42] JohnGiorgi opened #245 "Encoder class breaks for long strings"
When addressing #244, I realized that the `Encoder` class will break for long strings. This is because `Path(inputs).is_file()` was called on any `str` inputs, and if they are too long, it raises an `OSError`. To fix, we should catch this error, and log a warning to the user. We can then assume it's a URL or `str` and proceed.

[2022-01-19 16:06] #245 closed

[2022-03-01 04:56] boscoj2008 opened #249 "can i finetune the model ?"
I wondering if there is a way to fine-tune on a domain task rather than training on my small data set. Thanks

[2022-03-01 13:41] JohnGiorgi commented on #249
Yup. The model is accessible via [Transformers](https://huggingface.co/johngiorgi/declutr-base). So you can load it in that library and fine-tune it on your task in PyTorch or Tensorflow. There is documentation [here](https://huggingface.co/docs/transformers/training). Just change the pretrained model name to `"johngiorgi/declutr-base"` (or our other pretrained models, see [here](https://huggingfa

[2022-03-11 00:46] JohnGiorgi commented on #249
Closing, please feel free to re-open if your question is not answered. Note that you can also load our models in the [SentenceTransformers](https://www.sbert.net/index.html) library (I've added some documentation on that [here](https://github.com/JohnGiorgi/DeCLUTR#embedding)), so you can take full advantage of that library's utilities for training.

[2022-03-11 00:46] #249 closed

[2022-03-11 00:46] JohnGiorgi commented on #244
Closing, please feel free to re-open and file another issues if you questions are not answered.

[2022-03-11 00:46] #244 closed

[2022-03-17 20:59] piegu opened #253 "Update DeCLUTR requirements?"
Hi,

Actual DeCLUTR needs Pytorch 1.6 because of the allennlp version used.
The actual version of Pytorch is 1.11 (March 2022).

Any plans to update DeCLUTR requirements?

Thanks.

[2022-03-17 22:14] JohnGiorgi commented on #253
Hi,

Is this necessary? The [`setup.py` pins `allennlp` to `>=1.1.0, <1.2.0`](https://github.com/JohnGiorgi/DeCLUTR/blob/master/setup.py#L44) which itself depends on `torch`, so installing DeCLUTR (via `pip install git+https://github.com/JohnGiorgi/DeCLUTR.git`) _should_ give you the correct version of `torch`.

I just confirmed by running `pip install git+https://github.com/JohnGiorgi/DeCLUTR.git

[2022-03-17 23:25] piegu commented on #253
Hi @JohnGiorgi,

Thanks for your response (and for DeCLUTR!).
My problem is that I am doing a university research project that needs training DeCLUTR on a specific dataset.

Our great chance is that the university has a DGX A100 de NVIDIA (lucky we are) but... it appears that DGX A100 does not accept Pytorch 1.6

Then, with the current requirements, script and notebook training.ipynb, I can not tr

[2022-03-17 23:31] JohnGiorgi commented on #253
Can you try updating torch to the version you need after installing DeCLUTR?

[2022-03-21 18:46] piegu commented on #253
Hi @JohnGiorgi.

I did solve my problem thanks to a colleague:

1. He installed the [Pytorch release 20.07](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_20-07.html#rel_20-07) with Pytorch 1.6 (release that fits with DGX A100 de NVIDIA).
2. Then, he tried to install the DeCLUTR pip, but he had a problem, when installing a pytorch-metric-learning dependency, which the De

[2022-03-21 18:59] piegu opened #254 "How to use a validation dataset when training?"
Hi @JohnGiorgi,

In your notebook [training.ipynb](https://github.com/JohnGiorgi/DeCLUTR/blob/master/notebooks/training.ipynb), you do not use a validation dataset. Why? This is mandatory when training a ML model in order to check that the model is not overfitting, no?

I did try through the following code to use a validation dataset at the end of each training epoch but the `batch_loss` (and then

[2022-03-21 19:03] JohnGiorgi commented on #254
Hi @piegu, you can see #190 for an explanation on why we don't use a validation set.

I am really not sure why you are seeing a loss of 0. How many examples are in this file? Also it might be helpful to see the values for all the variables you are using in the `overrides` here.

[2022-03-21 19:05] #253 closed

[2022-03-21 19:15] piegu commented on #190
Hi @JohnGiorgi, this is the really first time I read that it is not useful/necessary to check the training of a DL model through a validation dataset *because of* the key point that would be the finetuning of this model on a downstream task.

Without validation dataset, you do not know how well goes your training. You do not know if you need to train 1 epoch or 20, you do not know which value of L

[2022-03-21 19:33] JohnGiorgi commented on #190
I think there is some confusion here

I am not saying that validation sets are somehow not useful. I am saying that I don't know how useful it would be to have a validation set to monitor the loss of the __self-supervised objectives used during pre-training__. We are following the canonical approach here of pre-training our model for some fixed number of steps (e.g. see [BERT](https://arxiv.org/ab

[2022-03-21 20:13] piegu commented on #254
9840

@JohnGiorgi: even if you think it is not useful here, can you test a validation dataset on you side with your notebook [training.ipynb](https://github.com/JohnGiorgi/DeCLUTR/blob/master/notebooks/training.ipynb)?

I think that the contrastive training loss function for the validation dataset is not found at the validation time (end of epoch).

Here is a modified code from your notebook train

[2022-03-22 03:22] JohnGiorgi commented on #254
Can I ask what your plans are for using the model and what you hope to achieve by measuring the contrastive loss on a validation set?

I’m not really sure how much work it would be to support using a validation set to measure the contrastive loss performance but it’s unclear to me how helpful that would be (#190) so I don’t really plan to spend time on it.

[2022-03-22 19:25] piegu commented on #254
Hi @JohnGiorgi

I am participating in an academic project aimed at document similarity. For this, we have built a pipeline which starts by retrieving the embeddings of all the sentences of a document (via a trained DeCLUTR for example), then finding the clusters of sentences which will make it possible to create a document vector in order to calculate the cosine similarity with the vectors of all

[2022-03-22 20:03] JohnGiorgi commented on #254
Cool! Any reason you want to continue training our model instead of just using the pre-trained models as is? We have models both for [general domain text](https://huggingface.co/johngiorgi/declutr-base) and [scientific text](https://huggingface.co/johngiorgi/declutr-sci-base). There are also many pre-trained sentence embedding methods that have been proposed since DeCLUTR (e.g. https://www.sbert.n

[2022-03-23 08:15] piegu commented on #254
Hi @JohnGiorgi

You have pre-trained DeCLUTR models in Portuguese for the Brazilian legal domain (one model) and also for the Brazilian health domain (second model)?

Of course, I can use other embeddings encoder models than DeCLUTR but as you proved in your [paper](https://aclanthology.org/2021.acl-long.72.pdf) that DeCLUTR is better than others (and "easy" to train with unlabeled data), I wanted

[2022-03-23 13:32] JohnGiorgi commented on #254
Gotcha. Sounds like you do need to train from scratch (or possibly check out some of the work on [language agnostic sentence embeddings](https://ai.googleblog.com/2020/08/language-agnostic-bert-sentence.html)).

Yup, I am simply echoing Devlin's advice here. Do you have a downstream task that measures what you care about and could be used for validation, testing, and hyperparam tuning?

Hmm, that'

[2022-04-03 04:19] deven367 opened #255 "RuntimeError: Error(s) in loading state_dict for DeCLUTR:"
Hey, I'm trying to run the `declutr` in Google Colab and the line
`base = Encoder("declutr-base", cuda_device = cuda_device)` throws a RuntimeError
![image](https://user-images.githubusercontent.com/31466137/161411242-6ebec41c-9d94-49ca-af0d-492a96aecd5a.png)

Here is the entire stacktrace
[code]

[2022-04-03 13:22] JohnGiorgi commented on #255
This typically happens because of an unsupported version of `allennlp` or `transformers`. I just tried the following in a colab notebook (just following our [embedding notebook](https://colab.research.google.com/github/JohnGiorgi/DeCLUTR/blob/master/notebooks/embedding.ipynb)) and it worked without issue:

[code]

[2022-04-03 17:35] deven367 commented on #255
Thanks! I was able to resolve the issue :)

[2022-04-03 17:35] #255 closed

[2022-05-07 18:21] JohnGiorgi commented on #254
Closing this! @piegu please feel free to re-open if you still have questions.

[2022-05-07 18:21] #254 closed

[2022-10-13 03:17] abinashsinha330 opened #260 "Error while encoding"
I am running the sample code snippet as shared on your repo as shown below:

[code]

I get the below error:

[code]

Please help me resolve this.

[2022-10-13 14:35] JohnGiorgi commented on #260
Thanks for raising an issue, I will try to look into this. Looks like the issue is on the AllenNLP side of things. Unless you really need to use AllenNLP, can you try using it from HuggingFace Transformers instead? Instructions [here](https://huggingface.co/johngiorgi/declutr-base)

[2022-10-21 19:55] abinashsinha330 commented on #260
I am planning to do pre-training on the unlabeled dataset that I have with me. This error is stopping me to do so.

[2022-10-21 20:04] JohnGiorgi commented on #260
Can you provide more information on your environment, please? E.g. OS, python version, AllenNLP version, the commands you used to install DeCLUTR, etc...

Looking at the error, my best guess is that you have installed a newer version of AllenNLP than is supported by this repo. In [the version of AllenNLP required by this repo](https://github.com/JohnGiorgi/DeCLUTR/blob/3eee0e185ac57572231785ec8113